.container {
    max-width: 1200 px;
    min-width: 600px;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.13;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #849d8f;
    background-image: url(../img/fon1.png);
    background-position: top center;
    background-repeat: no-repeat;
}
.button {
    width: 100px;
    height: 44px;
    box-shadow: 0px 1px 2px 0 #ac1000;
    border-radius: 10px;
    background-image: linear-gradient(to top, #e74a35, #f26843);
}