
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #849d8f;
    
   
}

.inner-page {
    /*Временно*/
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 1146px;
    width: 100%;
    padding: 27px;
    background-color: #849d8f
    background-position: 0 0;
}
.site-wrapper {
    margin: 0 auto;
    max-width: 1146px;
    width: 100%;
    padding: 27px;
    background-color: #849d8f
}

.header-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 1230px;
    padding: 0;
    padding-top: 10px;
    min-height: 35px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 64px;
}
.main-header-logo {
    width: 154px;
    height: 64px;
}

.site-navigation {
    width: 349px;
    display: flex;
    
    margin: 0;
    padding: 0;
    
}
.user-navigation {
    width: 252px;
    display: flex;
    
    margin: 0;
    padding: 0;
 
}
.main-navigation-wrapper {
    width: 100%;  
    
}
.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between; 
}
.menu-catalog li {
    margin: 0 3px 0 1px;
    padding: 7px 12px 6px 14px;
    background-color: #d07058;
    border: 0;
    border-radius: 14px;
}


.menu li {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
    padding-top: 8px;   
    vertical-align: top;

}
.menu a {
    margin: 8px 15px 6px 15px;
    padding: 0;
    font-size: 16px;
    line-height: 18px; 
}
a {
    text-decoration: none;
}


.button {
    font: inherit;
    text-align: center;
    color:#ffffff;
    box-shadow: 0px 1px 2px 0 #ac1000;
    vertical-align: middle;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border: none;
  }
  .button:hover,
  .button:focus,
  .button:active {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  }

    
}
.menu a:hover {
    width: 87px;
    height: 32px;
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

  
  
.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.submenu-catalog {
  flex-direction: column;
  align-self: center;
  list-style: none;
  width: 143px;
  height: 171px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}
.user-buttons {
position: relative;
display: inline-block;
width: 0px;
height: 16px;
margin: 0;
padding: 8px;
padding-left: 24px;
border: 0;
background-color: #9db1a5;
border-radius: 16px;
vertical-align: top;  
}

.user-look a {
position: absolute;
top: 8px;
left: 8px;
width: 17px;
height: 17px;
background-color: inherit;
}
.user {
position: relative;
display: inline-block;
width: 91.47px;
height: 38px;
margin: 0;
padding: 8px 16px 8px 44px;
border: 0;
background-color: #9db1a5;
border-radius: 16px;
vertical-align: top;
}
.user a {
position: absolute;
top: 8px;
left: 16px;
width: 20px;
height: 19px;
background-color: inherit;
}

.site-navigation a,
.user-navigation a { 
  display: block;
  color: #ffffff;
}


.submenu-catalog a {
    color:#323232;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus { 
  background-color:#f7f6f3;
  color: #000000;

}
.submenu-catalog a:hover,
.submenu-catalog a:focus {
    background-color: #fbded8;
}

.working-information {
    margin: -11px 0 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}


.look-form {
  display: none;
  width: 311px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}
.login-password-info a,
.login-password-new a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    
}

.input-form {
  width: 277px;
  height: 214px;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  
}

.input-form input[type="text"],
.input-form input[type="password"] {
      font: inherit;
      color: #000000;
      text-transform: uppercase;
      background-color: #f9f6f3;
      border: 1px solid #d3d3d2;
      font-size: 14px;
      line-height: 24px;
} 
.input-form input:focus {
     border-color: #663d15;
}
      
.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}  
.restore {
  color: #000000;
  text-decoration: underline;
  }
  
.restore:hover,
.restore:focus {
    text-decoration: none;
  }
.appointment {
  display: none;
  width: 478px;
  height: 443px;
  border-radius: 10px;
  background-color: #f8f7f4;
}
.appointment h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
}
.index-columns  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-top: 40px;
    margin-bottom: 40px;
    padding: 25px 15px 22px 20px;
    font-size: 16px;
    line-height: 22px;
    
    background-image: url(../img/invalid-one-name.jpg);
    min-height: 246px;
    border-radius: 15px;
    color: #323232;
    background-repeat: repeat-x;
}

/*.index-columns {
    display: flex
    justify-content: space-between; 
    padding-top: 40px;
    margin-bottom: 40px;
    padding: 25px 15px 22px 20px;
    font-size: 16px;
    line-height: 22px;
    background-color: #eadcbe;
    background-image: url(../img/invalid-one-name.jpg);
    min-height: 246px;
    border-radius: 15px;
    color: #323232;
    background-repeat: repeat-x;
}

.index-columns p {
    width: 488px;
    background-repeat: no-repeat;
    padding-left: 57px;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}
*/
.feature-list-center p {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1013px;
    height: 54px;
    
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.feature {
    display: flex;
    justify-content: space-between;
}
.feature-list-left {
    
    width: 476px;
  height: 171px;
  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
    
}
.feature-list-right {
  
    width: 470px;
    height: 148px;
 
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #323232;

}
.feature-item {
     
    width: 488px;
    padding-left: 57px;

}

.post-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.post-1 {
    
    margin: 0;
    padding: 0;
    width: 560px;
    height: 220px;
    color: #323232;
    background-image: url(../img/invalid-name.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 11px;
    color: #323232;
    
}
.post-2  {

    margin: 0;
    padding: 0;
    color: #323232;
    background-image: url(../img/invalid-name.png);
    width: 560px;
    height: 220px;   
}

.news h3 {
    font-size: 16px;
    line-height: 22px;
}
.news-item {
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}
.subscription {
    color: #5a5a5a;
    width: 560px;
    height: 220px;
    background-color: #849d8f;
    background-image: url(../img/invalid-name.png);
    background-repeat: no-repeat;
    object-fit: contain;
}
.subscription p {
    width: 549px;
    height: 211px;
    border-radius: 10px;
    background-color: #f8f7f4;
  
}
.news-form {
    width: 368px;
    height: 44px;
    border-radius: 5px;
    background-color: #5a5a5a;
}
.news-post p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
}
.news-post input[type="text"], {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 1px solid #d3d3d2;
    font-size: 16px;
    line-height: 24px;
}
.page-title {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 26px;
    margin: 0;
    font-weight: 700;
}

.breadcrumbs {
    margin-top: -43px;
    color: #e4e9e6;
    list-style: none;
    color: #ffffff;
    font-size: 11px;
    line-height: 16px;
    
}
.breadcrumbs ul {
    display: flex;
    list-style: none;
    margin: 25px 0 2px;
    padding: 0;
}
.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    color: #e4e9e6;
}
.menu-navigation-current {
    width: 87px;
    height: 32px;
    background-color: #d07058;
    border-radius: 15px;   

}
.basket {
    width: 540px;
    height: 242px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    list-style: none;
    text-align: left;
    
}
.hr-basket {
    width: 510px;
    height: 1px;
    background-color: #cacac7;
}
/*проба*/
.row-1 {
    display: flex;
    

    

}
.catalog {   

float: left;
width: 267px;
margin-right: 26px;
margin-bottom: 40px;
text-align: center;
vertical-align: top;
min-height: 322px;
}

.catalog-list {
    
    top: -5px;
    left: -5px;
    width: 277px;
    padding: 0;
    background-color: inherit;
    border-radius: 4px;
    z-index: 45;
  }
  .button {
    text-align: center;
    background-color: inherit;
    background-image: linear-gradient(#e74a35,#f26843);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(85,8,0,.46);
  }

  .button-item {
   
    left: 38px;
    bottom: 21px;
    display: none;
    width: 170px;
    padding: 11px 15px 1px;
    font-size: 18px;
    line-height: 24px;
    min-height: 34px;
}
  
  .catalog img {
    margin-left: -2px;
    border-radius: 50%;
  }
  
.catalog-item a {
    
    top: -102px;
    line-height: 22px;
    z-index: 20;
} 
a {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    border-bottom: 1px solid #a9bbb1;
    text-decoration: none;
}
/*.catalog-item {
    position: relative;
    top: -94px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: left;:hover {
    width: 293px;
    height: 405px;
    opacity: 0.2;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
  }*/
  
  .sum  {
    position: relative;
    top: -94px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: left;
  }
.catalog-category {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
.button-price {
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
}
.catalog-pages {
    display: flex;
}
.catalog-pages ul {
    
    top: 43px;
    left: 4px;
    margin: 0 0 71px;
    padding: 0;
    font-size: 0;
    text-align: right;
    list-style: none;
    vertical-align: top;
}
.hr-catalog-end {
   width: 1200px;
   height: 1px;
   opacity: 0.3;
   background-color: var(--white-two);
}
/*.iframe p {
    width: 1200px;
    height: 430px;
    border: 0;
}  

.footer {
    margin-top: 105px;
    padding-top: 18px;
    color: #ffffff;
    background-color: #849d8f;
}
.footer .container {
    display: flex;
}

.footer-social {
    width: 147px;
    margin: 0;
    margin-right: 214px;
    min-height: 38px;
}
.footer-info {
    width: 326px;;
    min-height: 38px;

}
.footer-info ,
.footer-social  {
    list-style: none;
}

.footer-info a {
    color: #ffffff;
    text-decoration: underline;
} 

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}

.footer-info {
    text-align: center;
  }

.footer-copyright {
    width: 189px;
    min-height: 59px;
    margin-left: auto;
    color: #ffffff;
    text-align: left;
}

.footer-copyright .footer-button:hover,
.footer-copyright .footer-button:focus {
  color: #ffbc9e;
}
/*для построенич сеток*/
.submenu-catalog {
    display: none;
}
.look-form,
.input-form {
    display: none;
}
.appointment-form {
    display: none;
}
.basket {
    display: none;
}
* {
    border: 1px solid red;
}